.mainpage {
  .card {
    position: absolute;
    height: 356px;
    width: 366px;
    border: 1px solid #e5e5e5;
    top: 262px;
    border-radius: 4px;
    padding: 24px, 16px, 24px, 16px;

    .container {
      position: absolute;
      top: 0;
      left: 16px;

      .title {
        position: absolute;
        height: 24px;
        width: 125px;
        top: 16px;

        //styleName: 16pt - 600 (소제목);
        font-family: Noto Sans KR Bold;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
      }

      .client {
        position: absolute;
        height: 20px;
        width: 51px;
        top: 52px;

        //styleName: 14pt - 500;
        font-family: Noto Sans KR Medium;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
      }

      .status {
        position: absolute;
        top: 25px;
        left: 284px;
        height: 24px;
        width: 50px;
        border-radius: 12px;
        border: 1px solid #ffa000;
        span {
          position: absolute;
          left: 8px;
          top: 2px;
          padding: 2px, 8px, 2px, 8px;
          font-family: Noto Sans KR Medium;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: center;
          color: #ffa000;
        }
      }

      .due {
        position: absolute;
        height: 20px;
        width: 125px;
        top: 96px;
        border-radius: nullpx;
        //styleName: 14pt - 400 (본문용);
        font-family: Noto Sans KR Regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #939fa5;
      }

      .divider {
        width: 334px;
        position: absolute;
        top: 132px;
        border: 1px solid #e5e5e5;
      }

      .itemList {
        position: absolute;
        top: 164px;
        width: 70px;

        li {
          padding-bottom: 8px;
          //styleName: 14pt - 400 (본문용);
          font-family: Noto Sans KR Regular;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: left;
        }
      }

      .itemSpec {
        position: absolute;
        top: 164px;
        left: 102px;
        width: 232px;

        li {
          padding-bottom: 8px;
          //styleName: 14pt - 600;
          font-family: Noto Sans KR Bold;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: left;
        }
      }

      .viewRequest {
        position: absolute;
        top: 300px;
        height: 32px;
        width: 108px;
        border-radius: 4px;
        padding: 6px, 12px, 6px, 12px;
        //styleName: 14pt - 500;
        font-family: Noto Sans KR Medium;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
      }

      .chat {
        position: absolute;
        top: 300px;
        width: 76px;
        height: 32px;
        left: 116px;
        border-radius: 4px;
        padding: 6px, 12px, 6px, 12px;
        //styleName: 14pt - 500;
        font-family: Noto Sans KR Medium;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
  }
}
