.nav {
  position: relative;
  top: 0;
  background: #1565c0;

  h1 {
    position: absolute;
    left: 2.78%;
    right: 86.6%;
    top: 35.71%;
    bottom: 35.71%;
  }
  ul {
    position: absolute;
    left: 11.82%;
    right: 56.07%;
    top: 0%;
    bottom: 0%;
    li {
    }
    :first-child::after {
      content: "|";
    }
  }
}
