.navBox {
  position: relative;
  background: #1565c0;
  height: 70px;
  width: 100%;
  background: #1565c0;

  .logoBox {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;

    img {
      position: absolute;
      height: 20px;
      width: 153px;
      top: 25px;
      left: 40px;
    }

    ul {
      display: flex;
      position: absolute;
      top: 25px;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;

      li {
        img {
          height: 15px;
          width: 16.67px;
          left: -30px;
          top: 2px;
        }
      }

      :first-child::after {
        padding: 0 30px;
        content: "|";
      }
    }
  }
}
