.navBox {
  position: relative;
  background: #1565c0;
  height: 70px;
  width: 1440px;
  background: #1565c0;

  .logoBox {
    display: flex;
    justify-content: flex-end;

    .logo {
      position: absolute;
      height: 20px;
      width: 153px;
      top: 25px;
      left: 40px;
    }

    .userBox {
      display: flex;
      position: absolute;
      top: 25px;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
      margin-right: 40px;
      // width: 247.67px;

      li {
        font-family: Noto Sans KR Medium;
        font-weight: 400;
        font-size: 14px;

        .vectorImage {
          position: absolute;
          width: 16.67px;
        }
      }

      :first-child {
        height: 15px;
        width: 16.67px;
        left: 0px;
        margin-right: 8px;
      }

      :nth-child(2)::after {
        padding: 0 32px;
        content: "|";
      }
    }
  }
}
