.mainpage {
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  left: 155px;
  top: 0;

  .mainHeader {
    position: absolute;
    width: 284px;
    top: 110px;

    h1 {
      font-family: Noto Sans KR Bold;
      font-size: 20px;
      line-height: 32px;
      font-weight: 600;
      width: 97px;
    }

    p {
      width: 284px;
      //styleName: 16pt - 400;
      font-family: Noto Sans KR Regular;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
    }
  }

  .filterBox {
    position: absolute;
    top: 198px;

    .methodButton {
      height: 32px;
      width: 98px;

      border-radius: 4px;
      padding: 4px, 12px, 4px, 12px;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0px;
      text-align: left;
    }

    .materialButton {
      height: 32px;
      width: 76px;
      left: 261px;
      top: 198px;
      border-radius: 4px;
      padding: 4px, 12px, 4px, 12px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #323d45;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 0px 5px;
    }

    .toggle {
      position: absolute;
      height: 20px;
      width: 36px;
      left: 954px;
      top: 3px;
      border-radius: 0px;
      font-size: 5px;
    }

    span {
      position: absolute;
      width: 126px;
      height: 20px;
      left: 1004px;

      font-family: Noto Sans KR Medium;
      font-size: 14px;
      line-height: 20px;

      color: #323d45;
    }
  }
}
